{
    "presets":[
        "react"
    ],
    "plugins": [
      ["lodash", { "id": ["lodash", "semantic-ui-react"] }]
    , "transform-decorators-legacy"
    , "babel-plugin-transform-class-properties"
    ]
}
